<div class="jumbotron mt-4">
  <h1 class="display-4">Test NodeJS</h1>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta consequatur molestiae ullam a ad accusantium vitae dolores eaque ducimus mollitia? Quisquam, dignissimos soluta deserunt unde mollitia iste temporibus quae rerum?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fugit praesentium odio maxime iusto commodi totam ipsam vitae hic temporibus dolore, dolores laudantium! Quos, delectus necessitatibus porro facilis qui quo.</p>
  <a href="#" class="btn btn-primary btn-lg">Web</a>
</div>