<div class="jumbotron mt-4">
  <h1 class="display-4">Test NodeJS</h1>
  <p class="lead">Una Api sencilla que permite insertar, editar, listar y eliminar productos.</p>
  <hr class="my-4">
  <p>Cada producto tiene:</p>
  <p>* identificador único<br>
  * nombre(obligatorio)<br>
  * descripción
  <p>- Base de datos mongodb</p>
  <p>** Autenticación</p>
  <a href="/products" class="btn btn-primary btn-lg">Productos</a>
</div>