<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-light mt-5">
    <div class=" container container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Borja Gete Ortuñez</h5>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Contacto</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.linkedin.com/in/borjag90/" target="_blank">
                  LinkedIn
                </a>
              </li>
              <li>
                <a href="mailto://borjagete90@outlook.es" target="_blank">
                  Email
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Código</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/BorjaG90" target="_blank">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://github.com/BorjaG90/test-nodejs" target="_blank">
                  Este proyecto
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="mailto://borjagete90@outlook.es"> BorjaG90</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->